.size-drop-down{
    width:100%;
}

.warning-message{
    color:red;
}

.product-info-header{
    font-size: 30px;
    font-weight: bold; /* 글자 굵게 설정 */
    margin-bottom: 5px;
}

.product-info-price{
    font-size: 20px ;
    font-weight: bold ;
    margin-bottom: 3px;
    color : blue;
}
.product-info-des{
  font-size : 17px;
  margin-bottom: 3px;
}

  .w-100 {
    max-width: 100%; /* 메인 이미지 가로 크기 */
    height: auto; /* 메인 이미지 세로 비율 유지 */
  }
  
  .thumbnail-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: hidden; /* 스크롤을 숨기고 버튼으로 이동 */
    height: 100%; /* 컨테이너가 부모의 전체 높이를 차지 */
  }
  
  .thumbnails-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%; /* 썸네일 갤러리가 부모 높이 기반으로 동작 */
  }
  
  .thumbnail-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }
  
  .thumbnail-image.active {
    border-color: #000; /* 활성화된 썸네일 테두리 색상 */
  }
  
  .arrow-button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin: 5px 0;
  }
  
  .main-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 570px; /* 고정 너비 */
    height: 656px; /* 고정 높이 */
    padding: 0px 12px; /* 지정된 패딩 */
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
    overflow: hidden; /* 이미지가 영역을 벗어나지 않도록 */
  }
  
  .main-image {
    width: 100%; /* 컨테이너 너비에 맞추기 */
    height: 100%; /* 컨테이너 높이에 맞추기 */
    object-fit: contain; /* 비율 유지하며 컨테이너에 맞춤 */
    object-position: center; /* 이미지 중앙 정렬 */
  }

  .custom-dropdown-menu {
    width: 100%; /* 버튼과 동일한 너비로 설정 */
  }
  
  #dropdown-basic-button {
    width: 100%; /* 필요에 따라 버튼의 width를 명시 */
  }
  
  .mt-3 {
    display: flex;
    justify-content: space-between; /* 버튼을 동일한 간격으로 배치 */
    align-items: center; /* 버튼 높이 정렬 */
  }
  
  .query-button,
  .review-button {
    flex: 1; /* 버튼 크기 동일화 */
    height: 48px; /* 버튼 높이 통일 */
    margin-right: 10px; /* 간격 추가 */
    font-size: 16px;
    line-height: 1;
    margin-top: 20px;
    /* padding: 0; */
  }

  .query-button:last-child {
    margin-right: 0; /* 마지막 버튼 간격 제거 */
  }
   
.size-drop-down {
  width: 100%; /* 문의와 후기 버튼의 합과 동일하게 설정 */
  height: 48px; /* 동일한 높이로 설정 */
}

.product-detail-card {
  margin-bottom: 20rem;
}

.ReviewOverall {
  justify-items: center;
}

.ReviewAverage {
  justify-self: center;
}

.averageContent {
  font-weight: bold;
  font-size: 30px;
}

.review {
  padding-top: 3rem;
}

.ReviewTableHead {
  font-size: 14px;
  text-align: center;
}