@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

.ml-2{
    margin-left: 20px;
}
.space-between{
    justify-content: space-between;
}

 .custom-img {
  width: 98%; 
  height: auto; 
  margin: 0px auto; 
  object-fit: cover;
} 

.mb-2{
    margin-bottom: 20px !important;
}

.mt-2{
    margin-top: 20px !important;
}
.list-style-none{
    list-style: none;
 }
 .display-center{
    display: flex;
    justify-content: center;
 }
 .display-space-between{
    display: flex;
    justify-content: space-between;
 }
 .display-flex{
    display: flex;
  }
.display-none{
    display: none;
}

.overflow-x{
    overflow-x:auto;
    width: 100%;

}

.overflow-x::-webkit-scrollbar {
    display: none;
  }

  .vh-100{
    height:100vh;
  }

  .nav-logo {
    text-align: center;
    width: 100%;
}

.menu li {
    margin-right: 30px; 
    margin-bottom: 30px;
    
}


 .body {
  display: flex;
  flex-direction: column;
  min-height: 24vh; 
}


body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    color: #333333; 
}

.nav-menu-area a, .nav-header span, .nav-header .nav-icon {
    color: #333333; 
}

.footer {
    position: relative; 
    background-color: #f5f5f5;
    width: 100%;
    padding-bottom: 20px;
    margin-top:auto;
    z-index: 10;
    color: #333333; 
}


.footer-container {
    padding: 45px;
}

.first-line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: flex-start;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sns-icon {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.sns-link {
  color: #333333;
  text-decoration: none;
}

.second-line {
    display: flex;
    justify-content: space-between;
}

.second-line-container {
    width: 75%;
}

.menus {
    margin-bottom: 10px;
}

.menus li {
    margin-right: 30px;
    font-weight: bold;
}

.menus a {
  color: #333333; 
  text-decoration-line: none;
}

.company-info li {
    margin-right: 20px;
    font-size: 14px;
}

.company-contact li {
    margin-right: 20px;
    font-size: 14px;
}

.second-line-container-bottom {
    color: #333333;
    font-size: 12px;
    margin: 10px 0;
}

.second-line-container-bottom div {
    margin: 5px 0;
}

.info {
    margin-right: 20px;
}

.phone-number {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.work-hour li {
    margin: 10px 0;
}

.work-hour span {
    margin-right: 10px;
}

.slogan {
    font-weight: bold;
    display: none;
    font-size: 24px;
}

.term-title {
  min-height: 0px;
  margin: 0 0 30px;
  border-bottom: 0;
  text-align: left;
}

.term-content {
  max-height: none;
  overflow-y: visible;
  
  padding: 15px;
  border: 1px solid #ccc;
  white-space: pre-wrap;
  background-color: #fff;
  margin-bottom: 20px;
  font: 0.75em 'Lora','Noto Serif KR',times,Batang,AppleGothic,serif;
}

.custom-container {
  padding-left: 15px;
  padding-right: 15px;
}


@media (max-width: 768px) {
    .info {
      display: none; 
    }

    .first-line {
      display: block;
      text-align: center;
    }

    .sns-area {
      justify-content: center;
      margin-top: 20px;
    }

    .last {
      margin-right: 0;
    }

    .second-line-container {
      width: 100%;
    }

    .menus {
      display: flex;
      justify-content: space-between;
    }
}

@media (max-width: 738px) {
    .menus {
      display: block;
    }
    .menus li {
      margin-right: 0px;
      margin-top: 10px;
    }
    .footer-container {
      text-align: center;
    }
    .company-info {
      display: block;
    }
    .company-contact {
      display: none;
    }
    .vision {
      display: none;
    }
    .slogan {
      display: block;
    }
    .term-content {
      padding: 10px; 
    }
    .term-title {
      font-size: 18px; 
      text-align: center;
    }
    .custom-container {
      padding-left: 30px;
      padding-right: 30px;
    }
}

.sidebar-item {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
  color: #000000; /* 검은색 텍스트 색상 */
}

.sidebar-item:hover {
  background-color: #f5f5f5; /* 밝은 회색 배경 */
  color: #000000; /* 호버 시에도 텍스트 색상이 변하지 않음 */
}

.sidebar-item:hover svg {
  color: #6c757e; /* 아이콘 색상은 호버 시에도 회색으로 유지 */
}










