.notice-table {
    border-collapse: collapse; /* 테이블 셀 간의 경계선을 합칩니다 */
  }

  /* 제목과 게시일 셀 간의 경계선 제거 */
  /* .notice-table th {border : 2px !important;}  */

  /* 게시글과 게시글 간의 경계선 유지 */
  .notice-table tbody tr {
    border-bottom: 1px solid #dee2e6; /* 행 간의 경계선 유지 */
  }
  /*
  .notice-table tbody tr:last-child {
    border-bottom: none;} /* 마지막 행의 경계선은 제거 */

  .text-head{
    border : 5px solid black;
  }

  .mt-4 {
    margin-top: 2rem;
  }

  .mb-4 {
    margin-bottom: 2rem;
  }

  .text-center {
    text-align: center;
  }

  .align-items-center {
    display: flex;
    align-items: center;
  }

  .text-end {
    text-align: right;
  }

  .notice-number-column {
    text-align: center;
  }

  /* 테이블 셀 스타일을 수정하여 게시 일자를 오른쪽 정렬 */
  .notice-date-column {
    text-align: center; /* 오른쪽 정렬 */
  }

  .notice-title-column {
    text-align: center;
  }

  /* 버튼 스타일 */
  .page-link {
    background-color: white; /* 버튼 배경색 */
    color: black; /* 버튼 텍스트 색 */
    border: 1px solid black; /* 버튼 테두리 색 */
  }

  .page-link:hover {
    background-color: #f0f0f0; /* 버튼 호버 배경색 */
  }

  .page-item.active .page-link {
    background-color: #e0e0e0; /* 활성 페이지 버튼 배경색 */
    border: 1px solid black; /* 활성 페이지 버튼 테두리 색 */
  }

  .notice-table-head th {
    font-size: 14px;
    text-align: center;
    border-top-color: black;
    border-top-width: 2px;
    border-bottom-color: black;
    border-bottom-width: 2px;
  }

  /* 검색 버튼 스타일 */
  button {
    background-color: white; /* 버튼 배경색 */
    color: black; /* 버튼 텍스트 색 */
    border: 1px solid black; /* 버튼 테두리 색 */
  }

  button:hover {
    background-color: #f0f0f0; /* 버튼 호버 배경색 */
  }