body{
  font-family: sans-serif;
  background-color: #FAF9F8;
}
.nav-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-top: 30px;
  
}

.nav-header .nav-icon {
  margin-right: 20px;
 
}
.nav-icon span{
  margin-left: 10px;
}
.menu{
  display: flex;
  list-style-type: none;
  padding: 20px;
}
.menu li a{
  text-decoration: none;
  color:black;
  margin-left:20px;
}

.nav-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.nav-menu-area{
  display: flex;
  justify-content: center;
}
.burger-menu{
  margin-left: 20px;
}


.sidebar{
  max-width: 500px;
}

.search-box{
  border-bottom: 1px solid black;
  padding: 5px;
  margin-top: 0px;
}
.search-box input{
  border:none;
  margin-left:5px;
  background-color: #FAF9F8;
}
.search-box input:focus {
  outline:none
}
.mobile-search-box{
 position: relative;
 top:10px;
 left:10px;
}
.search{
  align-items: center;

}
.search-icon{
  margin-left: 10px;
}
.search input{
  border: none;
  background-color: #FAF9F8;
  padding-left: 20px;
}
.search input:focus{
  outline:none
}

.card{
  border:none !important;
  margin-bottom: 10px;
}

.choice{
  font-size:11px;
  color: #63786a;
  font-weight: bold;
  height: 20px;
}

.new-product {
  font-size: 11px;
  height: 20px;
}

.error-message{
  text-align: left;
  width: 100%;
  
}
.form-control:valid {
  background-color:  white !important;
}



.drop-down{
  margin-top:20px;
}

.add-button{
  margin-top:20px;
  width: 100%;
}

.card:hover{
  transform: scale(1.1);
  z-index: 1;
}
.hide{
  visibility:hidden
}


.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index:12;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 2.95px 5.6px;
  border-right: 1px solid #fafafa;

}


.side-menu-list button {
  margin: 5px;
  border: none;
  background: none;
  width: 120px;
}

.side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  background: none;
  z-index: 10;
}

.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-menu-list button:hover { /* 변경필요 */ 
  background-color: white;
  border-radius: 3px;
  width: 60%;
} 


#sidebar-wrapper{
  min-height: 100vh !important;
  background-color: red;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  
}
.sidebar-item{
  color:black;
  font-weight: bold;
  padding: 10px;
  list-style-type: none;
  

  
}
.sidebar-item:hover{
  color:white;
  background-color: red;
  font-weight: bold;
}
.sidebar-area{
  padding-left: 0;
}
.sidebar{
  max-width: 300px;
  padding:20px;
  background-color: rgb(248,249,250);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 40px;
}
.mobile-sidebar-toggle{
  display:none;
}


@media screen and (max-width: 63rem) {
  .hide {
    visibility:visible;
  }
  .menu {
    display: none;
  }
 
  .nav-icon:last-child{
    margin-right: 0px;
  }
  .nav-header{
    margin-top: 20px;
    margin-bottom:30px
  }

  .sidebar-toggle{
    display: none;
  }
  .mobile-sidebar-toggle{
    display:block;
  }
  .sidebar{
    max-width: 100%;
    padding:0px;
    /* margin-bottom: 0; */
  }
  .mobile-sidebar{
    max-height: 104px;
  }
}
.display-flex{
  display:flex;
  align-items: center;

}

.admin-layout{
  display: flex;
}



.link-area{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}



#landing-page.blurred {
  filter: blur(12px) !important;
  transition: filter 0.3s ease-in-out;
}

.search-box-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center;
  padding-right: 90px;
}

.search-box-custom {
  width: 200px; /* 검색창 크기 조정 */
}

/* 모바일 환경에서의 조정 */
@media (max-width: 768px) {
  .search-box-container {
    justify-content: flex-end; 
    padding-right: 13px;
  }

  .search-box-custom {
    width: 100%;
  }
}

.qnaBox {
  width: 100%;
  text-align: center;
}

.qnaBox h1 {
  padding-bottom: 3rem;
}

.qnaTableHead {
  font-size: 14px;
  text-align: center;
}

.qnaBox .table td {
  vertical-align: middle;
}

.qnaLockerImage {
  width: 30%;
  height: auto;
}

.qnaCheckMarkImage {
  width: 30px;
  height: auto;
}

.qnaBodyHeadText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;  
}

.qnaProductName {

  font-weight: 1000;
}

.qnaProductName {
  font-weight: 1000;
  text-align: left;
}

.qnaTITLE {
  text-align: left;
}

.qnaPagination {
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  margin-top: 20px; /* 필요한 경우 상단 여백 */
  margin-bottom: 5rem;
}

.qnaPagination .page-item.active .page-link {
  color: black !important;
}

.query-button{
  margin-top:20px;
  width: 20%;
}